::-webkit-scrollbar-thumb {
	color: #e31837;
	background: #e31837;	
}

input[type="text"]:focus {
  outline-color: #369a1e;
}

/* Header */

.header_theme {
  background-color: #369a1e;
  color: #ffffff;
}

.header_theme a {
  color: #ffffff;
}

.header_theme a:hover,
.header_theme a:focus {
  color: #e31837;
}

.header_theme.sticky .header__cell{
  background: transparent url("../../../images/_color_themes/red_green/logo/logo-s.png") center center no-repeat;
}

.user-menu__item:hover > a, 
.user-menu__item:focus > a {
  color: #ffffff;
}

.user-menu__item:hover > a:hover, 
.user-menu__item:focus > a:focus {
  color: #e31837;
}

/* Menu */

.btn-menu-click + label:before, .btn-menu-click:indeterminate + label:before {
  background: transparent url(../../../images/sprites.png) -38px -117px no-repeat;
}

.btn-menu-click + label:hover:before, .btn-menu-click:indeterminate + label:hover:before, 
.btn-menu-click + label:focus:before, .btn-menu-click:indeterminate + label:focus:before {
  background: transparent url(../../../images/sprites.png) -8px -160px no-repeat;
}

.btn-menu-click:checked + label {
  color: #e31837;
}

.btn-menu-click:checked + label:before {
  width: 12px;
  height: 12px;
  margin-top: 2px;
  background: transparent url(../../../images/sprites.png) -807px -48px no-repeat;
} 

.btn-menu-click:checked + label:hover:before, .btn-menu-click:checked + label:focus:before {
  background: transparent url(../../../images/sprites.png) -807px -48px no-repeat;
}

.menu-click-dropdown {
  background: #444444;
}

.menu-click-dropdown a:active, 
.menu-click-dropdown a.active, 
.menu-click-dropdown a:hover, 
.menu-click-dropdown a:focus, 
.menu-click-dropdown li:active, 
.menu-click-dropdown li.active, 
.menu-click-dropdown li:hover, 
.menu-click-dropdown li:focus {
  color: #e31837;
}

.menu-click-dropdown li.menu__item:hover > a, 
.menu-click-dropdown li.menu__item:focus > a,
.menu-click-dropdown li ul.submenu a:hover, 
.menu-click-dropdown li ul.submenu a:focus {
  color: #e31837;
}

/* Search */

.menu-main-search label:hover, .menu-main-search label:focus {
  color: #e31837;
}

.btn-search-click + label:before {
  background: transparent url(../../../images/sprites.png) -2164px -10px no-repeat;
}

.btn-search-click + label:hover:before, .btn-search-click + label:focus:before {
  background: transparent url(../../../images/sprites.png) -99px -138px no-repeat;
}

.search-click-slide-holder button.btn_search:hover, .search-click-slide-holder button.btn_search:focus {
  background: transparent url(../../../images/sprites.png) -99px -138px no-repeat;
}

.btn_close-click + label:hover:before, .btn_close-click + label:focus:before {
  margin-top: 14px;
  margin-bottom: 6px;
  margin-left: 14px;
  margin-right: 6px;
  background: transparent url(../../../images/sprites.png) -807px -48px no-repeat;
}

.btn_close-click + label:hover + div > form > .search-click-slide-holder, 
.btn_close-click + label:focus + div > form > .search-click-slide-holder {
  border: 1px solid #e31837;
}

.btn_close-click + label:hover, .btn_close-click + label:focus {
  border: 1px solid #e31837;
  border-left: 0;
}

.search-results .product-info__bookmarks-button {
  color: #444444;
}

.search-results .product-info__bookmarks-button:hover {
  text-decoration: none;
}

.advanced-search__top-button a {
  color: #444444;
  border-bottom: 1px dotted #444444;
}

.advanced-search__form select:focus, 
.advanced-search__form input:focus {
  outline-color: #e31837;
}

.advanced-search__form input[type="submit"] {
  background-color: #e31837;
  color: #ffffff;
}

.advanced-search__form input[type="submit"]:hover {
  background-color: #b6132c;
  color: #ffffff;
}

.ui-widget-header {
  background: #e31837;
}

/* Contact information */

.contact-information a.contact-information__email {
  color: #ffffff;
}

.contact-information {
  padding-top: 50px;
}

.header_theme.sticky .contact-information {
  padding-top: 15px;
}

/* Personal */

.menu-login__login:before,
.user-menu__profile:before {
  background: transparent url(../../../images/sprites.png) -244px -64px no-repeat;
}

.menu-login__login:hover:before, 
.menu-login__login:focus:before,
.user-menu__profile:hover:before, 
.user-menu__profile:focus:before {
  background: transparent url(../../../images/sprites.png) -244px -99px no-repeat;
}

.profile-menu__item .active {
  border-bottom: 4px solid #e31837;
}

.profile-head_name a {
  color: #444444;
  text-decoration: underline;
}

.profile-head_name a:hover {
  text-decoration: none;
}

.profile-menu__item a:hover, 
.profile-menu__item a:focus {
  color: #e31837;
}

.profile-menu__item-purchases:hover:before, 
.profile-menu__item-purchases:focus:before {
  background: transparent url(../../../images/sprites.png) -506px -135px no-repeat;
}

.profile-menu__item-cart:hover:before, 
.profile-menu__item-cart:focus:before {
  background: transparent url(../../../images/sprites.png) -475px -144px no-repeat;
}

.profile-menu__item-bookmarks:hover:before, 
.profile-menu__item-bookmarks:focus:before {
  background: transparent url(../../../images/sprites.png) -450px -124px no-repeat;
}

.profile-menu__item-info:hover:before, 
.profile-menu__item-info:focus:before {
  background: transparent url(../../../images/sprites.png) -426px -121px no-repeat;
}

.profile-info__buttons a {
  color: #444444;
  text-decoration: underline;
}

.profile-info__buttons a:hover {
  color: #444444;
  text-decoration: none;
}

.i-change:hover:before {
  background: transparent url(../../../images/sprites.png) -1845px -10px no-repeat;
}

.i-pass:hover:before {
  background: transparent url(../../../images/sprites.png) -1872px -10px no-repeat;
}

.i-open {
  color: #444444;
}

.i-open:hover {
  color: #e31837;
}

.i-open:before {
  background: transparent url(../../../images/sprites.png) -1830px -80px no-repeat;
}

.i-open:hover:before {
  background: transparent url(../../../images/sprites.png) -1831px -158px no-repeat;
}

.profile-info-edit__form input:focus {
  outline: 2px solid #e31837;
}

.profile-info-edit__form-sub {
  background-color: #e31837;
  color: #ffffff;
}

.profile-info-edit__form-sub:hover {
  background-color: #b6132c;
}

.profile-info-edit__form-reset {
  color: #e31837;
  border: 2px solid #e31837;
}

.profile-info-edit__form-reset:hover {
  background-color: #b6132c;
  color: #ffffff;
  border: 2px solid #b6132c;
}

.profile-info-password__form input:focus {
  outline: 2px solid #e31837;
}

.profile-info-password__form-sub {
  background-color: #e31837;
  color: #ffffff;
}

.profile-info-password__form-sub:hover {
  background-color: #b6132c;
}

.profile-info-password__form-reset {
  color: #e31837;
  border: 2px solid #e31837;
}

.profile-info-password__form-reset:hover {
  background-color: #b6132c;
  color: #ffffff;
  border: 2px solid #b6132c;
}

/* Cart */

a#cart_dropdown__trigger:hover {
  color: #e31837;
}

a#cart_dropdown__trigger:before {
  background: transparent url(../../../images/sprites.png) -336px -33px no-repeat;
}

a#cart_dropdown__trigger:hover:before,
a#cart_dropdown__trigger.active:before {
  background: transparent url(../../../images/sprites.png) -337px -79px no-repeat;
}

.circles-menu__num {
  background: none;
  background-color: #e31837;
  border-radius: 50%;
}

a.cart-menu__bay-button {
  color: #444444;
}

.cart-menu__bay-button:before {
  background: transparent url(../../../images/sprites.png) -388px -25px no-repeat;
}

a.cart-menu__bay-button:hover:before {
  background: transparent url(../../../images/sprites.png) -389px -100px no-repeat;
}

a.cart-menu__cart-button {
  color: #444444;
}

a.cart-menu__cart-button:hover, 
a.cart-menu__cart-button:focus {
  color: #e31837;
}

.cart-menu__cart-button:before {
  background: transparent url(../../../images/sprites.png) -365px -102px no-repeat;
}

.cart-menu__cart-button:hover:before {
  background: transparent url(../../../images/sprites.png) -337px -79px no-repeat;
}

.cart-menu__order-button {
  background-color: #e31837;
  color: #000000;
}

.header_theme a.cart-menu__order-button {
  color: #ffffff;
}

.cart-menu__order-button:hover {
  background-color: #b6132c;
}

.header_theme .cart-menu__order-button:hover {
  color: #ffffff;
}

.cart-item__bookmarks-button {
  color: #444444;
}

.cart-footer__bay-button {
  background-color: #e31837;
  color: #ffffff;
}

.cart-footer__bay-button:hover {
  background-color: #b6132c;
}

/* Purchases */

.user-menu__purchases:before {
  background: transparent url(../../../images/sprites.png) -287px -80px no-repeat;
}

.user-menu__purchases:hover:before {
  background: transparent url(../../../images/sprites.png) -312px -44px no-repeat;
}

/* Bookmarks */

.user-menu__bookmarks:before {
  background: transparent url(../../../images/sprites.png) -1720px -46px no-repeat;
}

.user-menu__bookmarks:hover:before, .user-menu__bookmarks:focus:before {
  background: transparent url(../../../images/sprites.png) -1734px -46px no-repeat;
}

.catalog-item__del-button {
  color: #444444;
}

.i-del:before {
  background: transparent url(../../../images/sprites.png) -1813px -79px no-repeat;
}

.i-del:hover {
  color: #e31837;
}

.i-del:hover:before {
  background: transparent url(../../../images/sprites.png) -1813px -158px no-repeat;
}

/* Content menu */

.content-menu_wrapper {
  background-color: #484848;
}

.section_content-menu .content-menu_button:hover {
  color: #e31837;
}

/* Breadcrumbs */

.breadcrumbs_theme a:hover, .breadcrumbs_theme a:focus {
  color: #e31837;
}

/* Slider */

.slider-pagination__item--active {
  background-color: #e31837;
}

/* Pagination */

.pagination_main a:hover {
  color: #e31837;
}

.pagination_main a:hover:before {
  background: transparent url(../../../images/sprites.png) -201px -148px no-repeat;
}

.pagination_list__item a:hover,
.pagination_list__item.active a:hover {
  border: 1px solid #e31837;
}

.pagination_list__item.arrow-left a:hover,
.pagination_list__item.arrow-right a:hover {
  border: none;
}

/* Main */

.menu-catalog.menu-catalog__main .menu__item a:hover {
  color: #e31837;
}

.menu-catalog.menu-catalog__main .menu__item a:hover > span {
  border-bottom: 1px dotted #e31837;
}

.menu-catalog.menu-catalog__main .menu__item a.active {
  color: #666;
}
 
.catalog-main__item .catalog-item__name a:hover {
  color: #e31837;
}

/* Product */

.product-sell__partner .product-sell__partner-link,
.product-sell__rules-link {
  color: #444444;
}

.product-sell__bay-button {
  background-color: #e31837;
  color: #ffffff;
}

.product-sell__bay-button:hover {
  background-color: #b6132c;
}

.product-sell__cart-button {
  color: #e31837;
  border: 2px solid #e31837;
}

.product-sell__cart-button:hover {
  color: #ffffff;
  background-color: #b6132c;
  border: none;
}

.i-cart-bl:before {
  background: transparent url(../../../images/sprites.png) -337px -79px no-repeat;
}

.i-checkbox + label:before {
  color: #369a1e;
}

.product-info__rb a {
  color: #444444;
}

.i-read:before {
  background: transparent url(../../../images/sprites.png) -1058px -33px no-repeat;
}

.i-book:before {
  background: transparent url(../../../images/sprites.png) -1706px -29px no-repeat;
}

.product-info__seller-name {
  color: #444444;
}

.i-seller:before {
  background: transparent url(../../../images/sprites.png) -984px -53px no-repeat;
}

.product-about__menu-item {
  color: #444444;
  border-bottom: 1px dotted #444444;
}

.product-about__menu-item--active {
  color: #000000;
  border-bottom: none;
}

.catalog-item__bay-button {
  background-color: #e31837;
  color: #ffffff;
}

.catalog-item__bay-button:hover {
  background-color: #b6132c;
}

.catalog-item__bookmarks-button {
  color: #444444;
}

.catalog-item__bookmarks-button:before {
  background: transparent url(../../../images/sprites.png) -1706px -29px no-repeat;
}

.add-review-button {
  border: 2px solid #e31837;
  color: #e31837;
}

.add-review-button:hover {
  color: #ffffff;
  background-color: #b6132c;
  border: none;
}

.add-review-form__submit {
  border: 2px solid #e31837;
  background-color: #e31837;
  color: #ffffff;
}

.add-review-form__submit:hover {
  background-color: #b6132c;
}

.add-review-form__reset:hover {
  color: #666;
  text-decoration: none;
}

/* Certificate */

.product-certificate--is .certificate__content a {
  color: #e31837;
}

/* Catalog */

.menu-catalog .menu__item a:hover, 
.menu-catalog .menu__item a:focus {
  color: #e31837;
}

.menu-catalog .menu__item a:hover > span,
.menu-catalog .menu__item a:focus > span {
  color: #e31837;
  border-bottom: 1px dotted #e31837;
}

.menu-catalog .menu__item a.active:hover,
.menu-catalog .menu__item a.active:focus {
  color: #333333;
}

.menu-catalog .menu__item a.active:hover > span,
.menu-catalog .menu__item a.active:focus > span {
  border-bottom: none;
}

/* Order */

.pkp-input:focus {
  border: 1px solid #e31837;
}

.pkp-payment-method__item:hover {
  border: 1px solid #e31837;
}

.pkp-payment-method__pay {
  background-color: #e31837;
  color: #ffffff;
  border: 1px solid #e31837;
}

.pkp-payment-method__item:hover .pkp-payment-method__pay {
  background-color: #b6132c;
  color: #ffffff;
  border: 1px solid #b6132c;
}

.pkp-tooltip__trigger {
  border: 1px solid #e31837;
  color: #e31837;
}

.pkp-tooltip:hover .pkp-tooltip__trigger {
  background-color: #e31837;
}

.pkp-tooltip__content a,
.pmt-message__text a {
  color: #e31837;
}

.pkp-btn_back {
  color: #e31837;
  border: 2px solid #e31837;
}

.pkp-btn_back:hover {
  background-color: #b6132c;
  border: 2px solid #b6132c;
}

.pkp-btn_pay {
  background-color: #e31837;
  color: #ffffff;
}

.pkp-btn_pay:hover {
  background-color: #b6132c;
  cursor: pointer;
}

.pmt-message__label {
  color: #000000;
  cursor: pointer;
}

.pmt-message__label span {
  border-bottom: 1px dotted #000000;
}

.pmt-message__label:after {
  width: 13px;
  height: 13px;
  background: transparent url(../../../images/sprites.png) -961px -8px no-repeat;
  transform: rotate(90deg);
}

.pmt-message__print {
  cursor: pointer;
}

.pmt-message__text {
  border-left: 1px solid #e31837;
}

/* Content */

.main-content_theme a {
  color: #e31837;
}

.main-content_help-question a {
  border-bottom: 1px dotted #e31837;
}

.main-content_help .main-content_help-answer {
  border-left: 1px solid #e31837;
}

/* Messages */

.user-menu__messages::before {
  background-position: -608px -64px;
}

.user-menu__messages:hover::before,
.user-menu__messages.active::before {
  background-position: -608px -159px;
}

.profile-menu__item-messages:hover::before {
  background-position: -664px -196px;
}

.infoskills-messages__header-button:hover {
  color: #E31837;
}

.infoskills-messages__header-button--checked::before {
  background-color: #E31837;
  border: 1px solid #E31837;
}

.infoskills-messages__item-flag input[type="checkbox"]:checked + label,
.infoskills-messages__item-flag input[checked="checked"] + label {
  background-color: #E31837;
}

.infoskills-messages__item-information h2 > a {
  color: #E31837;
}

.infoskills-messages__item-delete button:hover {
  background-position: -1940px -32px;
}

.infoskills-messages__button-back a:hover {
  color: #E31837;
}

.infoskills-messages__button-back a:hover::before {
  background-position: -1609px -61px;
}

.infoskills-message__show-all-button:hover {
  color: #E31837;
}

.infoskills-message__show-all-button:hover::before {
  background-position: -1608px -72px;
}

.infoskills-message__delete-button:hover {
  background-position: -1940px -32px;
}

.infoskills-message__item .item-information__text a {
  color: #E31837;
}

.item-information__new {
  background-color: #E31837;
}

.infoskills-message__form textarea:focus {
  border: 1px solid #E31837;
}

.infoskills-message__form-email input[type="checkbox"]:checked + label[for="message-email"]::before {
  background-color: #E31837;
  border: 1px solid #E31837;
}

/* Footer */

.footer_pokupo a:hover,
.footer_menu a:hover, 
.footer_menu a:focus {
  color: #369a1e;
}

.footer_contact a {
  color: #666;
}

.footer_contact a.i-mail,
.footer_contact a.i-skype,
.footer_contact a.i-support {
  text-decoration: underline;
}

.footer_contact a:hover, 
.footer_contact a:focus {
  color: #369a1e;
  text-decoration: none;
}

.footer_contact a.i-mail:hover,
.footer_contact a.i-skype:hover,
.footer_contact a.i-support:hover,
.footer_contact a.i-mail:focus,
.footer_contact a.i-skype:focus,
.footer_contact a.i-support:focus {
  text-decoration: underline;
}

.footer_theme a:hover > span {
  color: #369a1e;
}

.footer_pokupo a {
  color: #444444;
  text-decoration: underline;
}

/* Back-to-top */

.back-to-top:hover {
  color: #e31837;
}

.back-to-top:hover:after {
  background: transparent url(../../../images/sprites.png) -170px -101px no-repeat;
}

/* Popup */

.popup__drop a:hover {
  background-color: #b6132c;
}

.popup-content__form input.inline-input:focus {
  outline: 2px solid #369a1e;
}

.popup-content__form__remember + a {
  text-decoration: underline;
  color: #444444;
}

.popup-content__form__remember + a:hover {
  text-decoration: none;
}

.btn.black {
  background-color: #e31837;
  color: #ffffff;
}

.btn.black:hover {
  background-color: #b6132c;
}

.btn.blue {
  color: #e31837;
  border: 2px solid #e31837;
}

.btn.blue:hover {
  background-color: #b6132c;
  border: 2px solid #b6132c;
}

.btn.white {
  background-color: #e31837;
}

.btn.white:hover {
  background-color: #b6132c;
  color: #ffffff;
  border: 2px solid #b6132c;
}

.popup-content__form__remember .i-checkbox:checked + label:before {
  background-color: #369a1e;
  border: 1px solid #369a1e;
}

.i-ok {
  background: transparent url(../../../images/sprites.png) -2085px -152px no-repeat;
}

.i-mail-big {
  background: transparent url(../../../images/sprites.png) -1302px -56px no-repeat;
}

.popup--read-fragment__left-arrow {
  background: transparent url(../../../images/sprites.png) -267px -35px no-repeat;
}

.popup--read-fragment__right-arrow {
  background: transparent url(../../../images/sprites.png) -267px -35px no-repeat;
  transform: rotate(180deg);
}

.popup--read-fragment__left-arrow:hover {
  background: transparent url(../../../images/sprites.png) -267px -35px no-repeat;
  transform: rotate(0deg);
}

.popup--read-fragment__right-arrow:hover {
  background: transparent url(../../../images/sprites.png) -267px -35px no-repeat;
  transform: rotate(180deg);
}

.read-fragment__paginator input[type="range"]::-webkit-slider-thumb {
  background-color: #e31837;
}

.read-fragment__paginator input[type="range"]::-moz-range-thumb {
  background-color: #e31837;
}


@media screen and (max-width: 759px) {

  /* Header */

  .btn-menu-click-mobile:checked + label + div > .menu-click > .menu-click-dropdown {
    background: #363636 url(../../../images/_color_themes/red_green/logo/logo-w.png) 40px 15px no-repeat;
  }

  /* Menu */

  .btn-menu-click-mobile + label:before, 
  .btn-menu-click-mobile:indeterminate + label:before {
    background: transparent url(../../../images/sprites.png) -38px -117px no-repeat;
    cursor: pointer;
  }

  .btn-menu-click-mobile + label:hover:before, 
  .btn-menu-click-mobile:indeterminate + label:hover:before, 
  .btn-menu-click-mobile + label:focus:before, 
  .btn-menu-click-mobile:indeterminate + label:focus:before {
    background: transparent url(../../../images/sprites.png) -8px -160px no-repeat;
  }

  .btn-menu-click-mobile:checked + label {
    left: 80%;
    right: auto;
  }

  .btn-menu-click-mobile:checked + label:before {
    margin-top: 2px;
    background: transparent url(../../../images/sprites.png) -804px -11px no-repeat;
  }

  .btn-menu-click-mobile:checked + label:hover:before, 
  .btn-menu-click-mobile:checked + label:focus:before {
    margin-top: 2px;
    background: transparent url(../../../images/sprites.png) -801px -48px no-repeat; /* по Х на 5px меньше */
  }

  .menu-login-cart .user-menu__item a.cart-menu__bay-button,
  .menu-login-cart .user-menu__item a.cart-menu__cart-button {
    background-color: transparent;
    border: none;
  }

  .menu-login-cart .user-menu__item a.cart-menu__order-button {
    background-color: #e31837;
  }

  .menu-login-cart .user-menu__item a.cart-menu__order-button:hover {
    background-color: #b6132c;
  }

  /* Personal */

  .btn-menu-login-click + label:before {
    background: transparent url(../../../images/sprites.png) -426px -32px no-repeat;
  }

  .btn-menu-login-click + label:hover:before {
    background: transparent url(../../../images/sprites.png) -426px -121px no-repeat;
    cursor: pointer;
  }

  .user-menu__item > a.menu-login__login:hover:before {
    background: transparent url(../../../images/sprites.png) -426px -121px no-repeat;
  }

  .btn-menu-login-click:checked + label:hover:before {
    margin-top: 1px;
    background: transparent url(../../../images/sprites.png) -806px -48px no-repeat; /* по Х на 1px меньше */
  }

  .profile-menu__item-info:before,
  .profile-menu__item-bookmarks:before,
  .profile-menu__item-cart:before,
  .profile-menu__item-purchases:before {
    height: 20px;
  }

  .profile-menu__item a {
    font-size: 0;
  }

  /* Search */

  .search-click-slide-holder input {
    padding: 5px 10px;
    color: #ffffff;
  }

  .btn_close-click + label:hover, .btn_close-click + label:focus {
    border: none; 
  }

  .search_click_slide > input.btn_close-click + label:hover {
    border-top: 1px solid #e31837;
    border-bottom: 1px solid #e31837;
  }

  /* Cart */

  a#cart_dropdown__trigger:before {
    background: transparent url(../../../images/sprites.png) -475px -11px no-repeat;
  }

  a#cart_dropdown__trigger:hover:before {
    background: transparent url(../../../images/sprites.png) -475px -144px no-repeat;
  }

  /* Bookmarks */

  .user-menu__item > a.user-menu__bookmarks:hover:before {
    background: transparent url(../../../images/sprites.png) -450px -124px no-repeat;
  }

  /* Back-to-top */

  .back-to-top {
    background-color: #e31837;
    color: #ffffff;
    -webkit-box-shadow: 0 0 10px #333333;
    box-shadow: 0 0 10px #333333;
  }

  .back-to-top:after {
    background: transparent url(../../../images/sprites.png) -171px -159px no-repeat;
  }

  .back-to-top:hover {
    background-color: #b6132c;
    color: #ffffff;
  }

  .back-to-top:hover:after {
    background: transparent url(../../../images/sprites.png) -171px -159px no-repeat;
  }

}


@media screen and (max-width: 519px) {

  /* Main */

  .catalog-main__item .catalog-item__bookmarks-button {
    color: #e31837;
    border: 2px solid #e31837;
  }

  .catalog-main__item .catalog-item__bookmarks-button:hover {
    background-color: #b6132c;
    color: #ffffff;
    border: 2px solid #b6132c;
  }

  .catalog-main__item .catalog-item__bookmarks-button:before {
    background: transparent url(../../../images/sprites.png) -451px -124px no-repeat;
  }

  .catalog-main__item .catalog-item__bookmarks-button:hover:before {
    background: transparent url(../../../images/sprites.png) -451px -33px no-repeat;
  }

  /* Personal */

  .profile-menu__item .active {
    background-color: transparent;
  }

  .profile-menu__item-info.active:before {
    background: transparent url(../../../images/sprites.png) -426px -10px no-repeat;
  }

  .profile-menu__item-info.active:hover:before {
    background: transparent url(../../../images/sprites.png) -426px -121px no-repeat;
  }

  /* Bookmarks */

  .profile-menu__item-bookmarks.active:before {
    background: transparent url(../../../images/sprites.png) -450px -10px no-repeat;
  }

  .profile-menu__item-bookmarks.active:hover:before {
    background: transparent url(../../../images/sprites.png) -450px -55px no-repeat;
  }

  /* Cart */

  .profile-menu__item-cart.active:before {
    background: transparent url(../../../images/sprites.png) -475px -10px no-repeat;
  }

  .profile-menu__item-cart.active:hover:before {
    background: transparent url(../../../images/sprites.png) -475px -77px no-repeat;
  }

  /* Purchases */

  .profile-menu__item-purchases.active:before {
    background: transparent url(../../../images/sprites.png) -505px -10px no-repeat;
  }

  .profile-menu__item-purchases.active:hover:before {
    background: transparent url(../../../images/sprites.png) -507px -60px no-repeat;
  }

}